.vagrant/
resources/ssh/id_rsa
resources/ssh/id_rsa.pub
resources/software/*.tar.gz
resources/software/*.tgz
resources/software/*.zip
data/*
env/
resources/hive/mysql/*.jar
tasks/*.sh
logs/*/
resources/software/apache-sedona-*
resources/software/*.sh
resources/software/*.jar
py/*.py
localpy/*.py
*.log
ipynb/*
pip_cache/*/
resources/storm/conf-old/
resources/hive/config-old/
