[Unit]
Description=Apache Spark History Server
Requires=spark.service
After=spark.service

[Service]
Type=oneshot
User=vagrant
Environment=JAVA_HOME=/usr/local/java
Environment=HADOOP_HOME=/usr/local/hadoop
Environment=HADOOP_CONF_DIR=/usr/local/hadoop/etc/hadoop
Environment=SPARK_HOME=/usr/local/spark
ExecStart=/usr/local/spark/sbin/start-history-server.sh
ExecStop=/usr/local/spark/sbin/stop-history-server.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
