[Unit]
Description=Apache Spark Worker
Requires=spark-master.service
After=spark-master.service

[Service]
Type=simple
User=vagrant
Environment=JAVA_HOME=/usr/local/java
Environment=HADOOP_HOME=/usr/local/hadoop
Environment=HADOOP_CONF_DIR=/usr/local/hadoop/etc/hadoop
Environment=SPARK_HOME=/usr/local/spark
Environment=SPARK_CONF_DIR=/usr/local/spark/conf
ExecStart=/usr/local/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://node1:7077
Restart=on-failure
RestartSec=10
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
