[Unit]
Description=Apache Spark standalone cluster
Requires=hadoop.service
After=hadoop.service

[Service]
Type=oneshot
User=vagrant
Environment=JAVA_HOME=/usr/local/java
Environment=HADOOP_HOME=/usr/local/hadoop
Environment=HADOOP_CONF_DIR=/usr/local/hadoop/etc/hadoop
Environment=SPARK_HOME=/usr/local/spark
ExecStart=/usr/local/spark/sbin/start-all.sh
ExecStop=/usr/local/spark/sbin/stop-all.sh
RemainAfterExit=yes
TimeoutStartSec=120
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
