[Unit]
Description=Apache NiFi
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=vagrant
WorkingDirectory=/usr/local/nifi
Environment=JAVA_HOME=/usr/local/java
Environment=NIFI_HOME=/usr/local/nifi
ExecStart=/usr/local/nifi/bin/nifi.sh run
Restart=on-failure
RestartSec=10
SuccessExitStatus=143
LimitNOFILE=50000

[Install]
WantedBy=multi-user.target
