[Unit]
Description=Apache Hadoop YARN ResourceManager
Requires=hadoop-namenode.service
After=hadoop-namenode.service

[Service]
Type=simple
User=vagrant
Environment=JAVA_HOME=/usr/local/java
Environment=HADOOP_HOME=/usr/local/hadoop
Environment=HADOOP_CONF_DIR=/usr/local/hadoop/etc/hadoop
ExecStart=/usr/local/hadoop/bin/yarn resourcemanager
Restart=on-failure
RestartSec=10
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
