[Unit]
Description=Apache Storm Nimbus
Requires=zookeeper.service
After=network-online.target zookeeper.service

[Service]
Type=simple
User=vagrant
Environment=JAVA_HOME=/usr/local/java
Environment=STORM_HOME=/usr/local/storm
ExecStart=/usr/local/storm/bin/storm nimbus
Restart=on-failure
RestartSec=5
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
